.desktopNav {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.navItem {
    cursor: pointer;

    position: relative;

    display: flex;
    align-items: center;

    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--radius-full);

    font-size: 0.95rem;
    font-weight: 500;
    color: var(--text-muted);

    background: transparent;

    transition: all var(--transition-normal);
}

.navItem:hover {
    color: var(--text-main);
    background: var(--surface-soft);
}

.navItemActive {
    color: var(--text-main);
    background: var(--surface-soft);
}

@media (width <= 768px) {
    .desktopNav {
        display: none;
    }
}
