.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 80vh;
    margin-bottom: 4rem;

    text-align: center;
}

.title {
    margin-bottom: 4rem;

    color: var(--text-muted);
    font-size: var(--overline-size);
    font-weight: var(--overline-weight);
    line-height: 1rem;
    text-transform: uppercase;
    letter-spacing: var(--overline-spacing);
}

.timeGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

@media (min-width: 768px) {
    .timeGrid {
        gap: 4rem;
    }

    .title {
        margin-bottom: 6rem;
    }
}
