.counter {
    width: 100%;
    margin-bottom: 8rem;
    text-align: center;
}

.title {
    margin-bottom: 2rem;

    color: var(--text-muted);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.timeGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
