.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    cursor: pointer;

    align-self: flex-start;

    padding: 12px 24px;
    border: none;

    font-family: var(--lp-font-body);
    font-size: 14px;
    font-weight: 600;
    color: var(--lp-on-primary);

    background-color: var(--lp-primary);
}

.button:hover {
    transform: translateY(-2px);
    opacity: 0.9;
    box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.button_small {
    cursor: pointer;

    padding: 8px 16px;
    border: 1px solid var(--lp-outline-variant);

    font-family: var(--lp-font-body);
    font-size: 12px;
    font-weight: 600;
    color: var(--lp-on-surface);

    background-color: transparent;
}

.button_small:hover {
    border-color: var(--lp-primary);
    background-color: var(--lp-surface-container);
}

.button_small_danger {
    border-color: var(--lp-error-outline);
    color: var(--lp-error);
    background-color: var(--lp-error-container);
}

.button_small_danger:hover {
    border-color: var(--lp-error);
    background-color: var(--lp-error-outline);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 16px;
}

.image_card {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    border: 1px solid var(--lp-outline-variant);

    background-color: var(--lp-surface);
    box-shadow: 0 4px 20px rgb(0 0 0 / 5%);
}

.image_wrapper {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background: var(--lp-surface-container);
}

.image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.image_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px;
    border-top: 1px solid var(--lp-outline-variant);
}

.empty_state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    padding: 64px 32px;
    border: 1px dashed var(--lp-outline-variant);
    border-radius: 8px;

    color: var(--lp-outline);
    text-align: center;

    background: var(--lp-surface);
}

.empty_icon {
    color: var(--lp-outline);
    opacity: 0.5;
}

.hidden_input {
    display: none;
}

.image_name {
    overflow: hidden;

    max-width: 120px;

    font-size: 12px;
    color: var(--lp-secondary);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.error_message {
    margin-bottom: 16px;
    padding: 12px;
    border: 1px solid var(--lp-error-outline);

    font-size: 14px;
    color: var(--lp-error);
    text-align: center;

    background-color: var(--lp-error-container);
}

@media (width >= 768px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
