.recipe_nav {
    position: relative;
    z-index: 10;

    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    margin-top: 4rem;
}

.recipe_nav_label {
    font-family: monospace;
    font-size: 0.75rem;
    color: rgb(140 140 140 / 60%);
    letter-spacing: 0.1em;
}
