.timeline_masonry_date {
    margin-bottom: 12px;

    font-size: 10px;
    font-weight: 600;
    color: var(--lp-secondary);
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.timeline_masonry_title {
    margin-bottom: 16px;

    font-family: var(--lp-font-hero);
    font-size: 24px;
    font-weight: 400;
    color: var(--lp-primary);
}

.timeline_masonry_text {
    font-size: 14px;
    line-height: 1.6;
    color: var(--lp-secondary);
}

@media (width >= 768px) {
    .timeline_masonry_title {
        font-size: 30px;
    }
}
