.timeline_event {
    display: flex;
    flex-direction: column;
}

@media (width >= 768px) {
    .timeline_event_odd {
        margin-top: var(--space-24);
    }
}

.timeline_event_image_container {
    width: 100%;
    margin-bottom: var(--space-8);
    border-radius: var(--radius-xl);

    background-color: var(--brand-subtle);
    box-shadow: var(--shadow-sm);
}

.timeline_event_image {
    aspect-ratio: 1/1;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.timeline_event_image_placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1/1;
    width: 100%;
    max-height: 400px;

    color: var(--brand-muted);
}

.timeline_event_text {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 var(--space-2);
}

.timeline_event_meta {
    display: flex;
    gap: var(--space-4);
    align-items: center;
    margin-bottom: var(--space-5);
}

.timeline_event_index {
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    color: var(--brand-gray);
}

.timeline_event_line {
    width: var(--space-8);
    height: 1px;
    background-color: rgb(140 140 140 / 30%);
}

.timeline_event_date {
    font-size: var(--text-sm);
    font-weight: 700;
    color: var(--brand-dark);
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.timeline_event_title {
    margin-bottom: var(--space-4);

    font-size: var(--text-3xl);
    font-weight: 700;
    line-height: 1.25;
    color: var(--brand-dark);
    letter-spacing: -0.04em;
}

.timeline_event_desc {
    font-size: var(--text-lg);
    font-weight: 300;
    line-height: 1.625;
    color: var(--brand-gray);
}

@media (width >= 768px) {
    .timeline_event_title {
        font-size: var(--text-4xl);
    }
}
